
{% extends "base.html" %}

{% block content %}

<div class="hero-unit">
      <div class=""><img src="/images/profile.jpg" id="profile" class="pull-right"></div>
      <div><h1>Hi, I'm Kyle</h1>
       <p><br>Thanks for visiting my site!<br><br>
      I'm a product manager living in Berkeley, California. I like baseball, books and birds. I'm also teaching myself to code. This site is a home for details about me, stuff I like and my forthcoming random experiments.</p>
       <!-- <p><br>A leader in product development offers proven success in championing diverse brands, leading cross-functional teams, and communicating product need and value to both technical and non-technical audiences.  Implements changes to enhance overall product performance, negotiates costs savings, and drives multimillion-dollar revenue achievements.</p><br> -->
      </div>
    </div>
    </div>
{% endblock %}