
{% extends "base.html" %}
{% block content %}

<div id="ProfessionalExp">
		<div class="headline"><h3>Professional Overview</h3></div> 
		<!-- SurveyMonkey -->
		
		<div class="job span10" id="surveymonkey">
			<span class="employer pull-left">SurveyMonkey</span>
			<span class="jobDate pull-right">2012 - 2013</span><br>
			<span class="jobTitle">Product Manager</span>
			<ul class="jobDesc">
			  <li>Served as the first product manager for ZoomPanel, a consumer research panel with more than two million members (ZoomPanel was acquired from MarketTools in 2012).</li>
			  <li>Built the new team from the ground up, establishing a proven development process (Scrum) and creating a product roadmap that emphasized ease of use and operational stability for all product lines.</li>
			  <li>Managed successful migration from MarketTools to SurveyMonkey on an aggressive timeline; launched a new set of operations tools, user experience, and database architecture focused on automation and operational stability.</li>
			</ul>
		</div>

<!-- MarketTools -->
		<div class="job span10" id="markettools">
			
			  <span class="employer pull-left">MarketTools, Inc.</span>
			  <span class="jobDate pull-right">2008 - 2012</span><br>
			  <span class="jobTitle">Associate Panel Manager, ZoomPanel (2011-2012)</span>
			
			<ul class="jobDesc">
				<li>Defined requirements and roadmap for development and acquisition of operations tools.</li>
				<li>Opened an automated sales channel by negotiating partnership with Federated Sample.</li>
				<li>Created initial proposal and business plan for the first new products in five years.</li>
			</ul>
			
			<br>
			
				<span class="jobTitle">ZoomPanel Sales Representative (2010-2011)</span>
			<ul class="jobDesc">
			  <li>Produced $80K in gross revenue from new clients in the first full quarter of tenure, achieving the second highest sales rates for a team of 10 representatives.</li>
			</ul>

			<br>
			
			<span class="jobTitle">Market Research Project Manager (2008-2010)</span>
			<ul class="jobDesc">
			  <li>Led the team in efficiency and numbers of projects executed, earning a quick promotion to Lead Project Manager for the entire class of accounts; earned strong customer praise for problem solving and service skills.</li>
			</ul>
      </div>

<!-- John Edwards -->
      <div class="job span10" id="johnedwards">
        
          <span class="employer pull-left">Primary Presidential Campaign</span>
          <span class="jobDate pull-right">2007 - 2008</span><br>
          <span class="jobTitle">Field Organizer</span>
        
        <ul class="jobDesc">
          <li>Built, managed, and mobilized a network of volunteers and activists in Monona, Ida, and Eastern Woodbury counties for the 2008 Iowa Caucus; out-performed statewide results for the candidate.</li>
          <li>Planned and executed more than a dozen high-profile campaign events with principle campaign spokespeople.</li>
        </ul>
      </div>

<!--Products Plus -->

      <div class="job span10" id="productsplus">
        
          <span class="employer pull-left">Products Plus, Inc.</span>
          <span class="jobDate pull-right">2005 - 2007</span><br>
          <span class="jobTitle">Account Manager</span>
        
        <ul class="jobDesc">
          <li>Sourced opportunities at national tradeshows, including the Consumer Electronics Show, the International Home and Housewares Show, the National Paint and Hardware Show, and The New York Toy Fair.</li>
          <li>Purchased and sold overstocked and sunsetted products, contributing to $80M in annual sales.</li>
        </ul>
      </div>

<!-- DCCC -->
      <div class="job span10" id="DCCC">
        
          <span class="employer pull-left">Congressional Campaign Committee</span>
          <span class="jobDate pull-right">2004</span><br>
          <span class="jobTitle">Field Organizer</span>
        
        <ul class="jobDesc">
          <li>Built an organization to mobilize voters in less than three months, travelling across South Dakota to drive “get out the vote” campaigns and candidate advocacy/voter education efforts.</li>
        </ul>
      </div>
	</div>
	<div class="clearfix"></div>
	<div class="container" id="VolWork">
		<div class="headline"><h3>Volunteer Work</h3></div>
		<!-- CTN -->
		<div class="job span10" id="CTN">
			  
				  <span class="employer pull-left">Community Technology Network(CTN)</span>
				  <span class="jobDate pull-right">2008 - Present</span><br>
				  <span class="jobTitle">Technology Trainer</span>
			  
			  <ul class="jobDesc">
				  <li>Develops curriculum and leads introductory computer classes at the Tenderloin Technology Lab located in the Saint Anthony's Foundation building in San Francisco.</li>
				  <li>Organized a major public relations and fundraising event with local community and tech industry leaders.</li>
				  <li>Earned recognition with volunteer work profiled on KQED's California Report series “The Giving State."</li>
			  </ul>
			</div>
		  
			<!-- Pomona College -->
			<div class="job span10" id="Pomona College">
				
					<span class="employer pull-left">Pomona College</span>
					<span class="jobDate pull-right">2005 - Present</span><br>
					<span class="jobTitle">Alumni Admissions Volunteer</span>
				
			</div>
		</div>
	</div>
	<div class="container" id="Education">
		<div class="headline"><h3>Education & Credentials</h3></div>
		<br>
		<p class="span10 text-center" id="schooling"><strong>BA, Sociology</strong>(<em>Cum Laude</em>)- Pomona College<br>
		<em>Technical Skills: HTML/CSS, JavaScript, jQuery, Python, SQL, MS Excel</em>
		</p>
		<p class="span10 text-center" id="OtherCred"><em>Speaking Engagements: “Getting Started in Product Management,” Silicon Valley Product Camp (2013), Pomona College Commencement Speaker (2005), US Representative, NPDA Annual Irish Debate (2005), American Sociology Association, Undergraduate Honors Roundtable (2004)</em></p>
	</div>
{% endblock %}